<a href="http://github.com/angular/angular.js/edit/master/docs/content/guide/dev_guide.templates.css-styling.ngdoc" class="improve-docs btn btn-primary"><i class="icon-edit"> </i> Jadikan dokumen ini lebih baik</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
<div><div class="developer-guide-page developer-guide-templates-working-with-css-in-angular-page"><p>
Angular menge-set  kelas Lembaran Ragam Riam (LRR - <em>CSS</em>) ini. Nantinya tinggal bergantung pada aplikasi anda untuk menyediakan hiasan yang sesuai.</p>
<h2 id="css-classes-used-by-angular">Kelas LRR yang digunakan Angular</h2>
<ul>
<li><p><code>ng-scope</code></p>
<ul>
<li><strong>Penggunaan:</strong> Angular mengaplikasikan kelas ini pada elemen apapun dimana ada <a href="api/ng.$rootScope.Scope"><code>lingkup baru</code></a> didefinisikan. 
(liha panduan <a href="guide/scope">lingkup</a> untuk informasi lebih jauh tentang lingkup)</li>
</ul>
</li>
<li><p><code>ng-binding</code></p>
<ul>
<li><strong>Penggunaan:</strong> Angular mengaplikasikan kelas ini pada elemen apapun yang diikat pada data-terikat lewat <code>ng-bind</code> 
atau kurung kurawal {{}}. (lihat panduan <a href="guide/databinding">data-terikat</a> )</li>
</ul>
</li>
<li><p><code>ng-invalid</code>, <code>ng-valid</code></p>
<ul>
<li><strong>Penggunaan:</strong> Angular mengaplikasikan kelas ini pada elemen gawai masukan jika masukan elemen tersebut tidak berhasil melewati pengesahan.
(lihat direktif <a href="api/ng.directive:input"><code>masukan</code></a>)</li>
</ul>
</li>
<li><p><code>ng-pristine</code>, <code>ng-dirty</code></p>
<ul>
<li><strong>Penggunaan:</strong> Direktif <a href="api/ng.directive:input"><code>masukan</code></a> Angular mengaplikasikan kelas <code>ng-pristine</code>
pada elemen gawai masukan baru yang belum terdapat interksi pengguna. Sekali pengguna berinteraksi dengan gawai masukan, kelasnya diubah menjadi <code>ng-dirty</code>.</li>
</ul>
</li>
</ul>
<h3 id="css-classes-used-by-angular_related-topics">Topik Terkait</h3>
<ul>
<li><a href="guide/templates">Templat Angular</a></li>
<li><a href="guide/forms">Isian Angular</a></li>
</ul>
</div></div>
