<a href="http://github.com/angular/angular.js/edit/master/docs/content/guide/dev_guide.services.ngdoc" class="improve-docs btn btn-primary"><i class="icon-edit"> </i> Jadikan dokumen ini lebih baik</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="developer-guide-page developer-guide-angular-services-page">
<p>Layanan adalah fitur yang Angular bawa ke aplikasi jaringan sisi-klien dari sisi-server,
 dimana layanan biasa digunakan sejak lama. Layanan dalam aplikasi Angular adalah objek 
 yang dapat-tergantikan terhubung sama-sama menggunakan <a href="guide/di">injeksi dependensi (ID)</a>.</p>
<h3 id="related-topics">Topik Terkait</h3>
<ul>
<li><a href="guide/dev_guide.services.understanding_services">Memahami Layanan Angular</a></li>
<li><a href="guide/dev_guide.services.creating_services">Membuat Layanan Angular</a></li>
<li><a href="guide/dev_guide.services.managing_dependencies">Menata Dependensi Layanan</a></li>
<li><a href="guide/dev_guide.services.injecting_controllers">Penyuntikan Layanan ke dalam Kontroler</a></li>
<li><a href="guide/dev_guide.services.testing_services">Pengujian Layanan Angular</a></li>
</ul>
<h3 id="related-api">API Terkait</h3>
<ul>
<li><a href="api/ng">Layanan API Angular</a></li>
</ul>
</div></div>
